profiles {
    standard {
        workDir = "work"
        resume = true  // null for no resume
        docker {
            enabled = true
        }
        params {
            output = 'output'
        }
        process {
            cpus = 16
            executor = 'local'
            memory = 100.GB
            withLabel: fastqc_mem {
                // fastqc --help: "Each thread will be allocated 250MB of mem"
                memory = { 250.MB * task.cpus }
            }
        }
        executor {
            queueSize = 2
        }
    }

    uw_batch {
        workDir = 's3://molmicro-data/nextflow-workdir/place-16s'
        process {
            scratch = "/docker_scratch"
            queue = 'molmicro-queue'
            executor = 'awsbatch'

            // allocate resources according to labels; see
            // https://www.nextflow.io/docs/latest/config.html#scope-process
            // https://www.nextflow.io/docs/latest/process.html#label
            withLabel: med_cpu_mem {
                cpus = 8
                memory = { 8.GB * task.attempt }
                errorStrategy = 'retry'
                maxRetries = 3
            }
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }

    hutch_batch {
        workDir = "s3://fh-pi-fredricks-d/lab/nhoffman/place-16s/work"
        resume = true
        params {
            output = 'output'
        }
        process {
            executor = 'awsbatch'
            scratch = '/docker_scratch'
            queue = 'optimal' // optimal, highmem, spot-test, mixed (not working?)

            // allocate resources according to labels; see
            // https://www.nextflow.io/docs/latest/config.html#scope-process
            // https://www.nextflow.io/docs/latest/process.html#label
            withLabel: med_cpu_mem {
                cpus = 8
                memory = { 8.GB * task.attempt }
                errorStrategy = 'retry'
                maxRetries = 3
            }
        }
        aws {
            batch {
                // https://github.com/nextflow-io/nextflow/issues/849
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                volumes = '/docker_scratch'
                jobRole = 'arn:aws:iam::064561331775:role/fh-pi-fredricks-d-batchtask'
            }
        }
    }
}
