profiles {
    standard {
        workDir = "work"
        resume = true  // null for no resume
        docker {
            enabled = true
        }
        params {
            output = 'output'
        }
        process {
            cpus = 16
            errorStrategy = 'ignore'
            executor = 'local'
            memory = 100.GB
            withLabel: fastqc_mem {
                // fastqc --help: "Each thread will be allocated 250MB of mem"
                memory = { 250.MB * task.cpus }
            }
        }
        executor {
            queueSize = 4
        }
    }

    uw_batch {
        workDir = 's3://molmicro-data/nextflow-workdir/place-16s'
        process {
            scratch = "/docker_scratch"
            queue = 'molmicro-queue'
            executor = 'awsbatch'

            // allocate resources according to labels; see
            // https://www.nextflow.io/docs/latest/config.html#scope-process
            // https://www.nextflow.io/docs/latest/process.html#label
            withLabel: med_cpu_mem {
                cpus = 8
                memory = { 8.GB * task.attempt }
                errorStrategy = 'retry'
                maxRetries = 3
            }
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }

    hutch_batch {
        workDir = "s3://fh-pi-fredricks-d/lab/crosenth/hcov19/work"
        resume = true
        params {
            output = 'output'
        }
        process {
            executor = 'awsbatch'
            // scratch = '/docker_scratch'  // not working?
            queue = 'cpu-spot-50' // cpu-spot-50, cpu-spot-40, cpu-spot-30, cpu-spot-20
            errorStrategy = 'ignore'
            cpus = 8
            memory = 16.GB

            // allocate resources according to labels; see
            // https://www.nextflow.io/docs/latest/config.html#scope-process
            // https://www.nextflow.io/docs/latest/process.html#label
            withLabel: med_cpu_mem {
                cpus = 8
                memory = 16.GB
                maxRetries = 3
            }
            withLabel: fastqc_mem {
                // fastqc --help: "Each thread will be allocated 250MB of mem"
                memory = { 250.MB * task.cpus }
            }
        }
        aws {
            batch {
                // https://github.com/nextflow-io/nextflow/issues/849
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                // volumes = '/docker_scratch'  // not working?
                jobRole = 'arn:aws:iam::064561331775:role/fh-pi-fredricks-d-batchtask'
            }
        }
        executor {
            queueSize = 200
        }
    }
}

trace {
    enabled = true
    file = 'output/execution/trace.csv'
    sep = ','
    fields = 'task_id,hash,native_id,tag,name,status,exit,submit,duration,realtime,%cpu,rss,vmem,rchar,wchar'
}

report {
    enabled = true
    file = 'output/execution/report.html'
}
